<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Homepage</title>
</head>

<body>
    <nav>
        <% if (user) { %>
            <a href="/auth/logout">Log Out</a>
            <% } %>
    </nav>
    <header class="banner">
        <div class="banner-content">
            <img src="//i.imgur.com/FoQrRoB.png" alt="logo of banner that says popportunity art gallery in all caps">
            <h3>Welcome, <%= user ? user.username : 'Guest' %>!</h3>

            <% if (!user) { %>
                <div class="log-container">
                    <p class="log-links">
                        <a href="/auth/signin">Sign In</a>
                        <a href="/auth/register">Create Account</a>
                    </p>
                </div>
        </div>
    </header>
    <div class="gallery">
        <% mergedPaintings.forEach(painting=> { %>
            <div class="piece-item">
                <h2>
                    <%= painting.title %>
                </h2>
                <% if (painting.image && painting.image.data) { %>
                    <img src="data:<%= painting.image.contentType %>;base64,<%= painting.image.data.toString('base64') %>"
                        alt="<%= painting.title %>" class="painting-image">
                    <% } %>
            </div>
            <% }) %>
    </div>
    <% } %>
</body>

<footer><img src="//i.imgur.com/XqlWolf.png" class="banner-icon" alt="white image of alien with bald head"></footer>

</html>