<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>BOOM!</title>
</head>

<body>
    <nav>
        <a href="/auth/logout">Log Out</a>
    </nav>
    
    <h1>Share your paintings with the world, <%= user.username %>! </h1>

    <h2>GALLERY OF PAINTINGS</h2>

    <% if (user.painting.length > 0) { %>
        <ul>
            <% user.painting.forEach(piece => { %>
                <li><a href="/users/<%= user._id %>/pieces/<%= piece._id %>"><%= piece.title %> - <%= piece.description %> - <%= piece.price %></a></li>
            <% }) %>
        </ul>
        <% } else { %>
        <p>EMPTY COLLECTION - GET TO PAINTING!</p>
        <% } %>

        <a href="/users/<%= user._id %>/pieces/new">Add painting to gallery</a>
</body>

</html>