<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>BOOM!</title>
</head>

<body>
    <header class="banner">
        <div class="banner-content">
            <a href="/auth/logout">Log Out</a>
            <h3>Welcome to your gallery, <%= user.username %>! </h3>
        </div>
    </header>

    <div class="gallery">
        <% if (user.painting.length> 0) { %>
            <% user.painting.forEach(piece=> { %>
                <div class="piece-item" style="background-image: url('<%= piece.image ?'data:' + piece.image.contentType + ';base64,' + piece.image.data.toString('base64') : '' %>');">
                    <a href="/users/<%= user._id %>/pieces/<%= piece._id %>">
                        <h3><%= piece.title %></h3> 
                        <p><%= piece.description %></p>
                        <p><%= piece.price %></p>
                    </a>
                </div>
                <% }) %>
                    <% } else { %>
                        <p class="empty-gallery">EMPTY GALLERY - GET TO PAINTING!</p>
                        <% } %>
    </div>

    <a href="/users/<%= user._id %>/pieces/new" class="add-painting-btn">Add Painting</a>
</body>

</html>