<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Edit Painting</title>
</head>

<body>
    <header class="edit-banner">
        <div class="edit-banner-content">
            <h1>Edit painting</h1>
        </div>
        <div class="edit-log-container">
            <p class="log-out-link">
            <a href="/auth/logout">Log Out</a>
            </p>
        </div>
    </header>
    <br>
    <form action="/users/<%= userId %>/pieces/<%= piece._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="edit-input">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= piece.title %>">
        </div>
        <br>
        <div class="edit-input">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" value="<%= piece.description %>">
        </div>
        <br>
        <div class="edit-input">
            <label for="price">Price</label>
            <input type="text" name="price" id="price" value="<%= piece.price %>">
        </div>
        <br>
        <div class="edit-input">
            <label for="image">Painting image:</label>
            <input type="file" name="image" id="image" value="<%= piece.image %>" accept="image/*" />
        </div>
        <br>
        <button type="submit" class="save-button">Save changes</button>
        <br>
        <br>
        <a href="/users/<%= userId %>">Back to main gallery</a>
    </form>
</body>

</html>