<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Painting</title>
</head>

<body>
    <nav>
        <a href="/users/<%= userId %>">MAIN GALLERY</a>
        <a href="/auth/logout">Log Out</a>
    </nav>
    <h1>Edit Painting</h1>

    <form action="/users/<%= userId %>/pieces/<%= piece._id %>?_method=PUT" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= piece.title %>">

        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="<%= piece.description %>">

        <label for="price">Price</label>
        <input type="text" name="price" id="price" value="<%= piece.price %>">

        <button type="submit">Save changes</button>

    </form>
</body>

</html>