<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Painting</title>
</head>

<body>
    <div class="top-border"></div>
    <header class="show-banner">
        <div class="show-banner-content">
<h1>Painting Details</h1>
        </div>
        <div class="show-log-container">
            <p class="log-out-link">
                <a href="/auth/logout">Log Out</a>
            </p>
        </div>
    </header>

    <div class="painting-card">
    <p>Title: <%= piece.title %>
    </p>
    <p>Description: <%= piece.description %>
    </p>
    <p>Price: <%= piece.price %>
    </p>
    <% if (piece.image && piece.image.data) { %>
        <img class="piece-image"
            src="data:image/<%= piece.image.contentType %>;base64,<%= piece.image.data.toString('base64') %>"
            alt="Painting Image">
        <% } %>
            <br>
            <br>
            <a href="/users/<%= userId %>/pieces/<%= piece._id %>/edit">Edit painting</a>

            <form action="/users/<%= userId %>/pieces/<%= piece._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
            <a href="/users/<%= userId %>">Back to main gallery</a>
        </div>
</body>

</html>