<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Painting</title>
</head>
<body>
    <nav>
        <a href="/">MAIN GALLERY</a>
        <a href="/auth/logout">Log Out</a>
    </nav>
    
    <h1>PAINTING</h1>

    <p>Title: <%= piece.title %></p>
    <p>Description: <%= piece.description %></p>
    <p>Price: <%= piece.price %></p>

    <a href="/users/<%= userId %>/pieces/<%= piece._id %>/edit">EDIT PAINTING</a>

    <form action="/users/<%= userId %>/pieces/<%= piece._id %>?_method=DELETE" method="POST">

        <button type="submit">DELETE</button>
    </form>

    <a href="/users/<%= userId %>">Back to main gallery</a>
</body>
</html>