<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Painting</title>
</head>
<body>
    <h1>PAINTING</h1>

    <p>Title: <%= piece.title %></p>
    <p>Description: <%= piece.description %></p>
    <p>Price: <%= piece.price %></p>

    <a href="/users/<%= userId %>/pieces/<%= piece._id %>/edit">EDIT PAINTING</a>

    <a href="/users/<%= userId %>">Back to main gallery</a>
</body>
</html>